<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Print Table</title>
</head>
<body style="background: rgb(252, 250, 250);">
   <h1 style="text-align:center">Table Writer</h1>
    <form action="{{ url_for('table')}}" method="post">
      <label for="enter number" colo>enter number:  </label>
      <input type="text" name="table" placeholder="enter number" required="required">
      <br>
      <label for="enter number" colo>number of iterations:  </label>
      <input type="text" name="upto" placeholder="enter number" required="required">
      <br>
      <button type="submit" class="btn btn-primary btn-block btn-large">Get Table</button>
    </form>
    <br>
    <br>
    <h2>
    {%for row in prediction_text %}
        	<div>{{ row }}</div>
    {%endfor%}
    <h2>
  </div>
</body>
</html>