<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload Image and Get MD5 Hash</title>
</head>
<body style="background: rgb(252, 250, 250);">
  <h1 style="text-align:center">Image reader</h1>
  <form action="{{ url_for('image')}}" method="post">
    <label for="file">Select an image file:</label>
    <input type="file" id="file" name="file" accept=".png, .jpg, .jpeg" required='required'>
    <br>
    <button type="submit">Upload and Get MD5 Hash</button>
  </form>
  <br>
  {% if md5_hash %}
    <h2>MD5 Hash: {{ md5_hash }}</h2>
  {% endif %}
  {% if error %}
    <p>Error: {{ error }}</p>
  {% endif %}
</body>
</html>
